.Grid {
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem;
  justify-items: center;
}
@media screen and (max-width: 1100px) {
  .Grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .Grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
