.back {
    background: black;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    top: 0;
    left: 0;
}

.modal-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

.modal {
    background: white;
    opacity: 1;
    height: 80vh;
    width: 80vw;
    box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    max-width: 550px;
    border-radius: 4px;
}

h2 {
    border-bottom: 1px solid #ccc;
    height: 20px;
    margin: 5px 0 0 0;
    padding-bottom: 10px;
}

.content {
    display: flex;
    height: 80%;
}

.content > img {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;

}

.comments {
    height: 20%;
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
}

.comments-content {
    height: calc(100% - 25px);
    overflow: auto;
}



